<!DOCTYPE html>
<html>
    <head>
        <title>Chat - Login</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
        <link rel="stylesheet" href="/static/login.css">
    </head>
    <body>
        <div class="center">
            <h2>Sign in</h2>
            <div class="panel">
                <div class="important">
                    <p class="center">You must sign in to use the application.</p>
                </div>
                <div class="signin-box">
                    <ul>
                        <li><a class="button" href="/auth/login/google">Google</a></li>
                        <li><a class="button" href="/auth/login/github">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
